#feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: 200;
  font-size: 35px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(-90deg, #142272, #0673e6);
}

.swiper-slide {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  padding: 25px 25px 30px 25px;
  font-size: 13px;
  color: #a3a3a3;
  border: 1px solid silver;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  width: 210px;
  height: 280px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  background-color: #badff8;
  filter: blur(2px);
}
.swiper-slide p {
  padding-top: 5px;
  line-height: 18px;
}

.swiper-slide-active {
  filter: blur(0px);
  background-color: white;
}

.fb-text {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.client-name {
  font-weight: 500;
  color: #00aeff;
}

.client-prof {
  color: #8d8d8d;
}

.swiper-slide .fb-text .client-photo {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  margin-right: 10px;
  overflow: hidden;
}

.swiper-slide .fb-text .client-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.content {
  display: flex;
  justify-content: flex-end;
}
.content svg {
  width: 25px;
  height: 25px;
}