.footer-layout {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
  width: 100%;
  background: linear-gradient(-40deg, #0e1a61, #142272, #9966cc);
  color: white;
  font-family: "Commissioner", sans-serif;
  font-size: 19px;
  font-weight: 100;
}