#gadget {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.gadgetWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 955px;
  height: 600px;
}

.gg-box1 {
  height: 50%;
  width: 55%;
}

.gg-box1 h2 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 20px;
}

.gg-box1 p {
  font-weight: 200;
  font-size: 1.5rem;
}

.gg-box2 {
  height: 300px;
}

.gg-content1 {
  display: flex;
  justify-content: flex-start;
}

.gg-content2 {
  display: flex;
  justify-content: flex-end;
}