.head {
  display: flex;
  justify-content: center;
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: #795ef0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100;
}
.menu .nav {
  width: 600px;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.logo #btn-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 550;
  width: 200px;
  height: 50px;
  transition: all ease 500ms;
}
.logo #btn-logo:hover {
  cursor: pointer;
  color: white;
  transform: scale(1.1);
  transition: 500ms;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 27px;
  width: 400px;
  font-family: "Commissioner", sans-serif;
  font-size: 19px;
  font-weight: 100;
}

button:focus {
  outline: none;
}

.nav-links {
  color: #fff;
  text-decoration: none;
  text-align: center;
  transition: 100ms;
}

.nav-links:hover {
  cursor: pointer;
  color: #cccccc;
  transition: 500ms;
}

.btn-order {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.3s;
}

.btn-order:hover {
  cursor: pointer;
  transition: 0.3s;
  background-color: #fff;
  color: #142272;
}

.btn-order:active {
  background-color: #795ef0;
  border: 1px solid #fff;
  color: #142272;
  transition: 0.2s;
}

.btn-order span {
  position: relative;
  z-index: 1;
}