.main-layout {
  display: grid;
  grid-template-rows: 750px 750px 750px 900px 100px 100px 450px 550px;
  padding-top: 60px;
  min-height: auto;
  font-family: Commissioner, sans-serif;
  background-color: white;
  overflow: hidden;
}