.modal-block.open .modal-wrap,
.modal-block.open .modal-window {
  opacity: 1;
  z-index: 100;
}

.modal-block.open .modal-window {
  transform: translateY(100px);
}

.modal-window,
.modal-wrap {
  opacity: 0;
  z-index: -1;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrap .modal-window {
  width: 600px;
  border-radius: 5px;
  background: white;
  height: 400px;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}
.modal-wrap .modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}
.modal-wrap .modal-title {
  font-size: 1.5rem;
}
.modal-wrap .modal-close {
  cursor: pointer;
}
.modal-wrap .modal-close:hover {
  color: #5d9cfc;
}
.modal-wrap .modal-body {
  padding: 10px;
}
.modal-wrap .modal-body p {
  margin: 0 0 5px;
}
.modal-wrap .modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #e7e7e7;
}