#original-analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.oa-Wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 955px;
  height: 600px;
}

.original {
  width: 460px;
  height: 460px;
  border: 1px solid black;
}

.analytics {
  width: 460px;
  height: 460px;
  border: 1px solid black;
}