* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header-layout {
  display: grid;
  grid-template-columns: 65% 35%;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #5f69c2;
  filter: drop-shadow(0px 2px 3px);
  z-index: 10000;
}
.header-layout .logo-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-layout .logo #btn-logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #5f69c2;
  color: white;
  border: 2px solid #c9c9c9;
  border-radius: 25px;
  font-size: 25px;
  font-weight: 550;
  width: 200px;
  height: 50px;
  transition: all ease 100ms;
}
@keyframes animate1 {
  0% {
    left: -100%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
.header-layout .logo #btn-logo:hover {
  cursor: pointer;
  color: #5f69c2;
  background-color: white;
  border: 2px solid white;
  transform: translate(0px, -5px);
  transition: 200ms;
}
.header-layout .logo #btn-logo:active {
  box-shadow: 0 0 5px white, 0 0 10px white, 0 0 20px white;
  transition: 30ms;
}
.header-layout #btn-logo > .anim-line {
  position: absolute;
  display: block;
}
.header-layout .anim-line:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, white);
  animation: animate1 1s linear infinite;
  overflow: hidden;
}
.header-layout .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 27px;
  width: 400px;
  font-size: 19px;
}
.header-layout .log-reg-input {
  display: flex;
  align-items: center;
  justify-content: start;
}
.header-layout .log-reg {
  margin-left: 20px;
}
.header-layout .log-reg #login {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  height: 27px;
  width: 60px;
  background-color: transparent;
  color: white;
}
.header-layout .log-reg #login:hover {
  cursor: pointer;
  background-color: white;
  color: #5f69c2;
}
.header-layout .log-reg #login:active {
  background-color: transparent;
  color: white;
}
.header-layout .log-reg #register {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid white;
  height: 27px;
  width: 110px;
  background-color: transparent;
  color: white;
}
.header-layout .log-reg #register:hover {
  cursor: pointer;
  background-color: white;
  color: #5f69c2;
}
.header-layout .log-reg #register:active {
  background-color: transparent;
  color: white;
}
.header-layout button:focus {
  outline: none;
}
.header-layout #input-search {
  margin-left: 40px;
  height: 50px;
  width: 52px;
  border: 1px solid white;
  border-radius: 50%;
}
.header-layout a {
  color: white;
  text-decoration: none;
  text-align: center;
  transition: 300ms;
}

a:hover {
  cursor: pointer;
}

.main-layout {
  display: grid;
  grid-template-rows: 500px 500px;
  min-height: 100%;
  padding-top: 60px;
}
.main-layout .main-content-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
}
.main-layout .main-content-1 .auto-call-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 336px;
}
.main-layout .main-content-1 .auto-call-form .auto-call {
  display: grid;
  grid-row-gap: 14px;
}
.main-layout .main-content-1 .order-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 250px;
  border-radius: 10px;
  background-color: white;
  filter: drop-shadow(1px 1px 1px #adadad);
}
.main-layout .main-content-1 .order-form .input-order {
  height: 23px;
}
.main-layout .main-content-1 .order-form-text {
  padding-top: 12px;
}
.main-layout .main-content-1 .order {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 512px;
  height: 70px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(1px 1px 1px #adadad);
}
.main-layout .main-content-1 .main-photo-car {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-layout .main-content-1 .main-photo-car .photo-car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}
.main-layout .main-content-1 .main-photo-car .car {
  height: 160px;
  filter: drop-shadow(1px 1px 1px #adadad);
  transition: 300ms;
}
.main-layout .main-content-1 .main-photo-car .car:hover {
  cursor: pointer;
  transform: scale(1.05);
  filter: drop-shadow(6px 3px 5px #adadad);
}

.footer-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-items: center;
  height: 170px;
  width: 100%;
  background-color: #302f2f;
  color: white;
  font-size: 15px;
}

.modal-block.open .modal-wrap,
.modal-block.open .modal-window {
  opacity: 1;
  z-index: 100;
}

.modal-block.open .modal-window {
  transform: translateY(100px);
}

.modal-window,
.modal-wrap {
  opacity: 0;
  z-index: -1;
}

.modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-wrap .modal-window {
  width: 600px;
  border-radius: 5px;
  background: white;
  height: 400px;
  margin: 0 auto;
  transform: translateY(-200px);
  transition: transform 0.2s ease-in;
}
.modal-wrap .modal-header {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e7e7;
}
.modal-wrap .modal-title {
  font-size: 1.5rem;
}
.modal-wrap .modal-close {
  cursor: pointer;
}
.modal-wrap .modal-close:hover {
  color: #5d9cfc;
}
.modal-wrap .modal-body {
  padding: 10px;
}
.modal-wrap .modal-body p {
  margin: 0 0 5px;
}
.modal-wrap .modal-footer {
  padding: 5px 10px;
  border-top: 1px solid #e7e7e7;
}

.main-conditions {
  min-height: 100%;
  padding-top: 60px;
  margin-bottom: 35px;
  margin-left: 120px;
  margin-right: 120px;
  border: 1px solid silver;
}

.conditions {
  display: grid;
  grid-template-rows: auto;
  grid-row-gap: 40px;
  margin-top: 35px;
  border: 1px solid silver;
}
.conditions .cond {
  border: 1px solid silver;
}
.conditions li {
  list-style: inside;
}

.car-select {
  display: flex;
  justify-content: center;
  align-items: center;
}
.car-select #car-btn {
  width: 200px;
  height: 40px;
  border-radius: 8px;
}