@import url(./header.css);
@import url(./main.css);
@import url(../css/footer.css);
@import url(../css/modalwindow.css);
@import url(../css/feedback.css);
@import url(../css/prices.css);
* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  display: grid;
  grid-template-rows: 100% 270px;
}