#filter-client {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-top: 100px;
}

.filter-wrap {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
}

.imgComp {
  width: 500px;
}