.footer-layout {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  justify-items: center;
  // height: 170px;
  width: 100%;
  background-color: rgb(48, 47, 47);
  color: white;
  font-family: 'Commissioner', sans-serif;
  font-size: 19px;
  font-weight: 100;
}