.main-layout {
  display: grid;
  grid-template-rows: 740px 100px 450px 440px;
  padding-top: 70px;
  min-height: 1000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  // background: linear-gradient(-90deg, #142272, #9966cc);
  background-color: white;
}

//=======================feedback=======================

#feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #142272;
  font-weight: 100;
  font-size: 35px;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(-90deg, #142272, #9966cc);
}

.swiper-slide {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  padding: 25px 25px 30px 25px;
  font-size: 13px;
  color: rgb(163, 163, 163);
  border: 1px solid silver;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  width: 210px;
  height: 280px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  background-color: #badff8;
  filter: blur(2px);
  p {
    padding-top: 5px;
    line-height: 18px;
  }
}

.swiper-slide-active {
  filter: blur(0px);
  background-color: white;
}

.fb-text {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.client-name {
  font-weight: 500;
  color: rgb(0, 174, 255);
}

.client-prof {
  color: rgb(141, 141, 141);
}

.swiper-slide .fb-text .client-photo {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  margin-right: 10px;
  overflow: hidden;
}

.swiper-slide .fb-text .client-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}

.content {
  display: flex;
  justify-content: flex-end;
  svg {
    width: 25px;
    height: 25px;
  }
}


//=======================aside=======================

// .navigation {
//   display: flex;
//   flex-direction: column;
//   height: 250px;
//   width: 100px;
//   position: fixed;
//   border: black;
//   border-radius: 10px;
//   background-color: white;
//   z-index: 1000;
// }