.main-layout {
  display: grid;
  grid-template-rows: 450px 450px;
  margin-top: 80px;
  min-height: 100%;
  border: 2px solid red;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: silver;
}

.swiper-slide {
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  padding: 15px 25px 30px 25px;
  font-size: 13px;
  color: rgb(163, 163, 163);
  border: 1px solid silver;
  border-radius: 8px;
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 270px;
  background-color: white;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(4px);
}

.fb-text {
  display: flex;
  align-items: center;
}

li {
  list-style: none;
}

.client-name {
  font-weight: 500;
  color: rgb(0, 174, 255);
}

.client-prof {
  color: rgb(141, 141, 141);
}

.swiper-slide .fb-text .client-photo {
  position: relative;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid silver;
  margin-right: 10px;
  overflow: hidden;
}

.swiper-slide .fb-text .client-photo img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: none;
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: none;
}
