@import url(./header.css);
@import url(./main.css);
@import url(../css/footer.css);
@import url(../css/modalwindow.css);
@import url(../css/feedback.css);
@import url(../css/prices.css);
@import url(../css/filter-client.css);
@import url(../css/portfolio.css);
@import url(../css/about.css);
@import url(../css/addit.css);
@import url(../css/gadget.css);
@import url(../css/original-analytics.css);

* {
  padding: 0px;
  margin: 0px;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-rows: 100%;
}
