@import url(./header.css);
@import url(./main.css);
@import url(./footer.css);
@import url(./modalwindow.css);

// @media screen and (min-width: 992px) and (max-width: 1200px) {

// }

* {
  padding: 0px;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
// font-family: font-family: 'Commissioner', sans-serif;;

.wrapper {
  display: grid;
  grid-template-rows: 100% 230px;
}
