$color: white;
$lighter: lighten($color,30%);

@import url(./header.css);
@import url(./main.css);
@import url(../css/footer.css);
@import url(../css/modalwindow.css);
@import url(../css/feedback.css);

// @media screen and (min-width: 992px) and (max-width: 1200px) {
// }

* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  display: grid;
  grid-template-rows: 100% 270px;
}
