.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  height: 60px;
  width: 100%;
  background-color: #10151b;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  z-index: 99; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  z-index: 100; }
  .menu .nav {
    width: 600px; }

.logo #btn-logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  background-color: transparent;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 550;
  width: 200px;
  height: 50px;
  -webkit-transition: all ease 500ms;
  transition: all ease 500ms; }
.logo #btn-logo:hover {
  cursor: pointer;
  color: white; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  width: 400px;
  font-family: 'Commissioner', sans-serif;
  font-size: 16px;
  font-weight: 500; }

button:focus {
  outline: none; }

.nav-links {
  color: #fff;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 100ms;
  transition: 100ms; }

.nav-links:hover {
  cursor: pointer;
  color: #0673e6;
  -webkit-transition: 500ms;
  transition: 500ms; }

.btn-order {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 35px;
  border-radius: 5px;
  background-color: #0673e6;
  font-family: 'Commissioner', sans-serif;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.btn-order:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 0 15px #fff, 0 0 20px #fff;
          box-shadow: 0 0 15px #fff, 0 0 20px #fff;
  background-color: #fff;
  color: black; }

.btn-order:active {
  background-color: #cccccc;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

.btn-order span {
  position: absolute;
  display: block; }

/*# sourceMappingURL=2-header.css.map */