@import url(./2-header.css);
@import url(./3-main.css);
@import url(./4-home.css);
@import url(./5-description.css);
@import url(./6-skills.css);
@import url(./7-price.css);
@import url(./8-portfolio.css);
@import url(./9-feedback.css);
@import url(./10-extra.css);
@import url(./11-footer.css);
@import url(./12-modalwindow.css);

* {
  padding: 0px;
  margin: 0px;
  outline: none;
}

.Container {
  display: grid;
  grid-template-rows: 100%;
}
