.Container__main {
  display: grid;
  grid-template-rows: 750px 700px 900px 800px 700px 100px 500px 500px;
  padding-top: 60px;
  min-height: auto;
  font-family: Commissioner, sans-serif;
  background-color: white;
  overflow: hidden;
}
