.main__description {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.main__description__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 955px;
  height: 600px;
}

.main__description__wrapper__box-1 {
  display: flex;
  justify-content: flex-start;
}

.main__description__wrapper__box-2 {
  display: flex;
  justify-content: flex-end;
}

.wrapper__box-1__text {
  height: 50%;
  // height: 300px;
  width: 55%;
  // width: 550px;
}

.wrapper__box-1__text h2 {
  font-weight: 600;
  font-size: 3rem;
  padding-bottom: 20px;
}

.wrapper__box-1__text p {
  font-weight: 300;
  font-size: 1.5rem;
  // padding-bottom: 20px;
}

.wrapper__box-1__image {
  height: 300px;
}
