.main__skills {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #10151b;
}

.main__skills__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.main__skills__wrapper h2 {
  font-size: 3.2rem;
  font-weight: 300;
}

.main__skills__wrapper__box-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 58px;
  row-gap: 60px;
  place-items: center;
  align-items: center;
}

.FC-box {
  width: 290px;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  transition: 0.5s;
  word-spacing: 1px;
}

// содержание блоков

.main__skills__wrapper__box-2__content svg {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  // border: 1px solid #fff;
}

.main__skills__wrapper__box-2__content h3 {
  font-size: 1.4rem;
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.main__skills__wrapper__box-2__content p {
  text-align: justify;
  padding: 0 15px 0 15px;
  font-weight: 300;
}

// анимация

.content__eye {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  height: 70px;
  margin-bottom: 10px;
}

.content__eye__Anim {
  position: relative;
  display: block;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid black;
}

.content__eye .content__eye__Anim::before {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  border: 5px solid #0673e6;
}
