.main__prices {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0673e6;
  overflow: hidden;
}

.main__prices__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__prices__wrapper__bg-1 {
  width: 550px;
  margin-right: 390px;
  margin-top: 100px;
}

.main__prices__wrapper__bg-2 {
  width: 550px;
  margin-left: 390px;
  margin-top: 90px;
}

.main__prices__wrapper__cards {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 2;
  margin: 30px;
}

.main__prices__wrapper__cards .main__prices__wrapper__cards__card {
  z-index: 1;
  position: relative;
  width: 280px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.main__prices__wrapper__cards__card-content {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  align-items: center;
}

.main__prices
  .main__prices__wrapper__cards
  .main__prices__wrapper__cards__card
  .main__prices__wrapper__cards__card-content
  h3 {
  font-size: 2em;
  color: #fff;
  z-index: 1;
  text-align: center;
}

.main__prices
  .main__prices__wrapper__cards__card
  .main__prices__wrapper__cards__card-content
  p {
  font-size: 1.1em;
  color: #fff;
  font-weight: 300;
}

.main__prices
  .main__prices__wrapper__cards__card
  .main__prices__wrapper__cards__card-content
  a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-attachment: #fff;
  background-color: #fff;
  color: #000;
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
